<% if logged_in? %>
  <script type="text/javascript">
  // no idea why this works really????
    window.currentUser = <%= render("/api/users/user.json.jbuilder", user:current_user).html_safe %>  
  </script>
<% end %>

<div id="root">
  React is down! Stay positive! You can do this.
  <br/>
  <br/>
  <br/>
  <img src="https://i.ebayimg.com/images/g/9mUAAOSwDEtaKZYJ/s-l640.jpg" />
</div> 