<h1>Testing Aws</h1>
<h2><%= @user.fname %></h2>
<img src="<%= url_for(@user.profile_pictures[0]) %>" alt=":-(" />
<img src="<%= url_for(@user.profile_pictures[1]) %>" alt=":-(" />
<%# <img src="<%= url_for(@user.thing) %>" /> %>




