input, label, form {
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;

}

.login-div {
  height: 100vh;
  width: inherit;
  background-color: #b9efef;
}

.login-div h2 {
  /* TODO CSS: wtf is this font */
  font-size: 19px;
  /* font-family: serif; */
}

.center-form-span {
  margin: auto auto;
  display: flex;
  /* border: solid 1px black; */
  min-width: 460px;
  /* height: 525px;
   */
   height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-emoji-span {
  width: 33px;
  /* height: 40px; */
  font-size: 2em;
  margin: 25px;

}

.session-form {
  /* border: solid 2px red; */
  width: 300px;
  height: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  /* padding: auto; */
}

.session-form label {
  /* border: solid 1px green; */
  /* width: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 400;
}
.session-form label > span {
  margin-bottom: 10px;
}

.session-form-input {
  background-color: #faffbd;
  border-radius: 2px;
  width: 270px;
  height: 26px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.checkbox-form {
  display: flex;
  flex-direction: column;
}


.checkbox-form-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: auto;
  max-width: 650px;
  margin: 0 auto;
}

.checkbox-item-unchecked {
  display: inline-block;
  min-height: 50px;
  max-width: 200px;
  padding: 0 5px;
  margin: 4px;
  color: #4c7db9;
  background-color: transparent;
  border: 1px solid #4c7db9;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-item-unchecked:hover {
  background-color: rgba(76,123,217,0.5);
  color:white;
}


.checkbox-item-unchecked > input {
  display: none;
}

.checkbox-item-checked {
  display: inline-block;
  min-height: 50px;
  max-width: 200px;
  padding: 0 5px;
  margin: 4px;
  border: 1px solid #4c7db9;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #104da1;
  color: white;
}

.checkbox-item-checked:hover {
  background-color: rgba(76,123,217,0.5);
  color:white;
}

.checkbox-item-checked > input {
  display: none;
}

/* .checkbox-item > input:checked + label {
  background-color: #104da1;
  color: white;
} */

.checkbox-spacing {
  min-width: 200px;
}

::placeholder {
  color: #aaacae;
}

.back-arrow:hover {
  cursor:pointer;
}

.dynamic-input-div {
  width: 75%;
  margin: auto;
}

.dynamic-span-container-div {
  height: 70px;
  width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dynamic-span-container-div > span {
  height: 70px;
  width: 30px;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.dynaimc-form-label {
  display: flex;
  justify-content: space-between;
}

.dynamic-input-message {
  width: 414px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin: auto;
}

.forgot-password {
  color: #76a8e2;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.valid-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  background-color: #4c7bd9;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 60px;
  margin: 25px auto;
}

.invalid-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  /* TODO CSS get real color here, OKC down */
  background-color: rgb(155,155,155);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 60px;
  margin: 25px auto;
}

.invalid-submit:hover {
  cursor: inherit;
}

.demo-signin {
  /* border: solid 1px yellow; */
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 60px;
  /* margin: 25px auto; */
}

.error-messages {
  /* border: 1px solid red; */
  color: red;
  text-align: center;
  margin: 20px;
}

.dynamic-error-messages {
  color: red;
  text-align: right;
  margin: 20px auto;
  width: 300px;
  height: 17px;
}

.dynamic-good-messages {
   color: green;
  text-align: right;
  margin: 20px auto;
  width: 300px;
  height: 17px;
}