input, label, form, select, textarea {
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;

}

.login-div {
  height: 100vh;
  width: 100%;
  /* width: inherit; */
  background-color: #b9efef;
}

.login-div h2 {
  /* TODO CSS: wtf is this font */
  font-size: 19px;
  /* font-family: serif; */
}

.center-form-span {
  margin: auto auto;
  display: flex;
  /* border: solid 1px black; */
  min-width: 460px;
  /* height: 525px;
   */
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-emoji-span {
  width: 33px;
  /* height: 40px; */
  font-size: 2em;
  margin: 25px;

}

.session-form {
  /* border: solid 2px red; */
  width: 300px;
  /* height: 60%; */
  min-height: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  /* padding: auto; */
}

.session-form label {
  /* border: solid 1px green; */
  /* width: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 400;
}
.session-form label > span {
  margin-bottom: 10px;
}

.session-form-input {
  background-color: #faffbd;
  border-radius: 2px;
  width: 270px;
  height: 26px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.checkbox-form {
  display: flex;
  flex-direction: column;
}



.checkbox-form-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: auto;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
}

.checkbox-item-unchecked {
  display: inline-block;
  min-height: 50px;
  max-width: 200px;
  padding: 0 5px;
  margin: 4px;
  color: #4c7db9;
  background-color: transparent;
  border: 1px solid #4c7db9;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-item-unchecked:hover {
  background-color: rgba(76,123,217,0.5);
  color:white;
}


.checkbox-item-unchecked > input {
  display: none;
}

.checkbox-item-checked {
  display: inline-block;
  min-height: 50px;
  max-width: 200px;
  padding: 0 5px;
  margin: 4px;
  border: 1px solid #4c7db9;
  border-radius: 3px;
  cursor: pointer;
  background-color: #104da1;
  color: white;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-item-checked:hover {
  background-color: rgba(76,123,217,0.5);
  color:white;
}

.checkbox-item-checked > input {
  display: none;
}

/* .checkbox-item > input:checked + label {
  background-color: #104da1;
  color: white;
} */

.checkbox-spacing {
  min-width: 200px;
}

::placeholder {
  color: #aaacae;
}

.birthday-form {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
}

.birthday-form-div {
  /* border: solid 1px red; */
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 200px;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box; 
}

.birthday-select {
  /* border: solid 1px green; */
  background-color: white;
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 0 0  rgba(0,0,0,.25);
  font-size: 1.2em;
  padding: 0 5px;
}

/* tried 50 different ways to change text color of month / year, nothing */
/* option[disabled="disabled"] {
  opacity: 0.5;
  color: red;
}

option[disabled="disabled"]::-ms-value {
  opacity: 0.5;
  color: red;
} */


.birthday-MD-div {
  /* border: solid 1px purple; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MD {
  width: 48%;
}

.back-arrow:hover {
  cursor:pointer;
}

.dynamic-input-div {
  width: 75%;
  margin: auto;
}

.dynamic-span-container-div {
  height: 70px;
  width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dynamic-span-container-div > span {
  height: 70px;
  width: 30px;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.dynaimc-form-label {
  display: flex;
  justify-content: space-between;
}

.dynamic-input-message {
  width: 414px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin: auto;
}

.forgot-password {
  color: #76a8e2;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.valid-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  background-color: #4c7bd9;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  /* height: 60px; */
  min-height: 60px;
  margin: 25px auto;
}

.mini-valid-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  background-color: #4c7bd9;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 80px;
  height: 30px;
  margin: 5px 5px;
}

.invalid-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  /* TODO CSS get real color here, OKC down */
  background-color: rgb(155,155,155);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  /* height: 60px; */
  min-height: 60px;
  margin: 25px auto;
}

.mini-invalid-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  /* TODO CSS get real color here, OKC down */
  background-color: rgb(155,155,155);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 80px;
  height: 30px;
  margin: 5px 5px;
}

.processing-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 60px;
  margin: 25px auto;
}

.mini-processing-submit {
  /* border: solid 5px #4c7bd9; */
  /* border: solid 5px purple; */
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 80px;
  height: 30px;
  margin: 5px 5px;
}

.invalid-submit:hover {
  cursor: inherit;
}

.mini-invalid-submit:hover {
  cursor: inherit;
}

.processing-submit:hover {
  cursor: inherit;
}

.mini-processing-submit:hover {
  cursor: inherit;
}

.demo-signin {
  /* border: solid 1px yellow; */
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 60px;
  /* margin: 25px auto; */
}

.error-messages {
  /* border: 1px solid red; */
  color: red;
  text-align: center;
  margin: 20px;
}

.dynamic-error-messages {
  color: red;
  text-align: right;
  margin: 20px auto;
  width: 300px;
  height: 17px;
}

.dynamic-good-messages {
   color: green;
  text-align: right;
  margin: 20px auto;
  width: 300px;
  height: 17px;
}

.landing-speech-bubble {
  background-color:white;
  position: relative;
  max-width: 260px;
  min-height: 208px;
  margin: auto;
  padding: 25px 30px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  margin-top: 20px;
  padding: 0;
}

.landing-speech-bubble  * {
  padding: 10px 30px;
}

.landing-speech-bubble > h2 {
  font-weight: 700;
  font-size: 2em
}

.landing-speech-bubble > p {
  font-size: 1.2em;
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 66px;
  
}

.landing-speech-bubble-point {
  /* border: solid 1px red; */
  font-size: 2em;
  color: white;
  overflow: hidden;
  max-height: 10px;
  max-width: 10px;
  background: white;
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 0;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);

}

.landing-img {
  width: 105px;
  height: 80px;
  margin: auto;
  position: absolute;
  top: calc(50% + 35px);
  left: 46%;
  z-index: 5;
}

.landing-bottom-div {
  background-color: #30b7c4;
  width: 100%;
  height: calc(50% - 70px);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-message-div {
  /* border: solid 1px blue; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-message-div > h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 25px;
  color: white;
}

.new-message-div > textarea {
  background-color: #faffbd;
  border-radius: 2px;
  width: 270px;
  height: 26px;
  padding: 10px 15px;
  margin-bottom: 10px;
  width: 400px;
  height: 140px;
  margin: 0 auto;
}

/* RADIO QUESTION RESPONSES */

.question-div {
  /* border: solid 3px black; */
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  min-width: 230px;

}

.question-div > h1 {
  font-size: 20px;
  font-weight: 600;
}

.question-div > h3 {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
}
.response-radio-input {
  visibility: hidden;
}

.response-options-div {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 160px;
}

.unchecked-response {
  /* border: dashed 1px purple; */
  /* border-radius: 2px; */
  color: blue;
  width: 155px;
  padding: 0 5px;
  margin: 4px;
  color: #4c7db9;
  background-color: transparent;
  border: 1px solid #4c7db9;
  border-radius: 3px;
  cursor: pointer;
}

.checked-response {
  /* border: dashed 1px green; */
  /* border-radius: 2px; */
  color: green;
  width: 155px;
  padding: 0 5px;
  margin: 4px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #4c7db9;
  background-color: #104da1;
  color: white;
}

.unchecked-response:hover, .checked-response:hover {
  background-color: rgba(76,123,217,0.5);
  color:white;
}
