html {
  background-color: #f3f5f9;
}


.base {
  background-color: #f3f5f9;
  min-height: 100vh;
  /* min-width: 100vw; */
  min-width: 750px;
  width: 100vw;
  /* margin: 0 0 125px; */
  position: relative;
}

.home-space-div {
  height: 70px;
  background-color: #f3f5f9;

}

.discovery-section {
  height: auto;
  background-color: #f3f5f9;
  /* border: solid 1px red;   */
  width: 952px;
  min-width: 839px;
  /* max-width: 952px; */
  margin: 0 auto;
  padding-bottom: 60px;
  /* display: flex; */
  /* flex-direction: row; */
  position: relative;
}

/* .discovery-section-fader {
  border: solid 1px red;
  background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
  content: '';
  height: auto;
  position: absolute;
  margin-top: 441px;
} */

.discovery-section > h1 {
  /* border: solid 1px green; */
  margin: 21px 0;
  margin-left: 10px;

}

.discovery-section * {
  background-color: #f3f5f9;
  padding: 0 auto;
}

.discovery-section > h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.2em;
}

.discover-search-div {
  /* border: solid 1px green; */
  /* background-color: darkslateblue; */
  margin: 5px;
  height: 52px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.discover-search-form {
  display: flex;
  flex-direction: row-reverse;

}

.discover-search-form input {
  /* border: solid 1px purple; */
  width: 325px;
  height: 42px;
  background-color: #ebedf2;
  text-indent: 20px;
  font-size: 1.1em;
  overflow: hidden;
}

.discover-search-form input:hover {
  background-color: white;
}


.discover-search-form > span {
  /* border: solid 1px orange; */
  height: auto;
  width: auto;
  color: #aaacae;
  background-color: transparent;
  position: relative;
  left: -40px;
  top: 13px;
}

.discover-search-form:hover > span {
  background-color: transparent;
  color: #104da1;
}

.discover-search-form .fa-times-circle {
  cursor: pointer;
}

.discover-search-form .fa-times-circle:hover {
  color: red;
}
/* 
.discover-search-form::-webkit-search-cancel-button {
  background-color: red;
  border: solid 1px red;
} */
  