.messages-section {
  /* border: solid 1px blue; */
  height: auto;
  background-color: #f3f5f9;
  /* border: solid 1px red;   */
  width: 952px;
  margin: 50px auto 0;
  padding-bottom: 60px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}

.messages-section > h1 {
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.messagecard-div {
  /* border: solid 1px orange; */
  background-color:#ffffff;
  max-width: 886px;
  height: 150px;
  max-height: 150px;
  margin: 20px 10px;
  padding: 0 20px;
  box-shadow: 2px 5px 8px #888888;
  border: solid 1px lightgray;
  border-radius: 4px;
  position: relative;
  top: 0px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.messagecard-div:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: 5px 10px 10px #3260c7;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.messagecard-div:hover .messagecard-thumb > img {
  transform: scale(1.2);
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
}

.messagecard-div .messagecard-thumb > img {
  transform: scale(1);
  transition-duration: 0.5s;
  -webkit-transform: scale(1);
  -webkit-transition-duration: 0.5s;
}


.messagecard-thumb {
  border: solid 5px #104da1;
  max-height: 110px;
  min-width: 110px;
  max-width: 110px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 25px;
  /* margin: 0px 20px -65px; */
  /* position: absolute;
  top: -40px;
  left: -185px; */
  /* cursor: pointer; */
}

.messagecard-text {
  width: 95%;
  /* border: solid 1px green; */
}

.messagecard-text-header {
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messagecard-text-header > h2 {
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.messagecard-text-header > p {
  color: #d3d3d3;
}

/* multiline text overflow */
/* http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.messagecard-text-content {
  /* border: solid 1px orange; */
  height: 60px;
  width: 750px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* white-space: normal; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* position: relative; */
}

.messages-thread-div > h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 25px;
  color: white;
}

.messages-thread {
  /* border: solid 5px red; */
  max-height: 450px;
  overflow-y: auto;
  /* background: #f3f5f9; */
  background: transparent;
  margin-top: 15px;
}

.messages-thread::-webkit-scrollbar {
  width: 10px;
  /* top: -20px; */
}

.messages-thread::-webkit-scrollbar-thumb {
  background: #3260c7;
  border: solid 2px #76a8e2;
  
  border-radius: 10px;
  opacity: 0.5;
}

.messages-thread::-webkit-scrollbar-thumb:hover {
  background: #104da1;
  border: solid 1px #104da1;
  border-radius: 10px;
}

.messages-thread > textarea {
  background-color: #faffbd;
  border-radius: 2px;
  width: 400px;
  /* margin: 15px 0; */
  /* border-radius: 16px; */
  padding: 5px 5px;
  margin-right: 10px;
}

.message-index-item {
  /* border: solid 1px yellow; */
  background: white;
  min-height: 52px;
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  border-radius: 16px;
  margin-right: 10px;
}

.message-index-item-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.message-index-item-thumb {
  min-height: 42px;
  min-width: 42px;
  max-height: 42px;
  max-width: 42px;
  padding: 5px 5px;
  overflow: hidden;
}

.message-index-item-thumb > img {
  min-height: 42px;
  min-width: 42px;
  max-height: 42px;
  max-width: 42px;
  border-radius: 50%;
}

.message-index-item-message-sent-at {
  color: gray;
  font-size: 0.8em;
  margin: 5px 0;
}