.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

.modal-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 20; */

  /* border: solid 5px yellow; */
  /* background: white; */
  background: #104da1;
  width: 460px;
  /* min-height: 514px; */
  height: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 16px;
}

.modal-exit-bar {
  /* border: solid 1px green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-exit-bar > i {
  color:#aaacae;
  font-size: 2em;
}

.modal-exit-bar > i:hover {
  color: red;
}