.session-header-left {
  margin-left: 75px;
}

.navigation-header {
  color: lightgrey;
  letter-spacing: 1px;
  font-size: 1.2em;
  
  height: 66px;
  min-width: 839px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  /* padding-left: 0; */
  
  margin-top: 0;
  background-color: #104da1;
  /* border: solid 1px yellow; */
  border-bottom: solid 1px #76a8e2;
}

.nav-left {
  width: 250px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-left * {
  font-size: 20px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
}

.nav-left > a {
  display: inline-block;
  min-width: 170px;
  /* padding: 0 10px; */
  padding-left: -20px;
}

.nav-left > a:hover {
  color:white;
}

.nav-right > button:hover {
  color: white;
}

.nav-right > span:hover {
  color: white;
}

.nav-left img {
  width: 90px;
  height: 30px;
}

.nav-right {
  width: 400px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between; 
  align-items: center;
}

.nav-right > button {
  font-size: 20px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
}

.nav-right-icon {
  display: flex;
  min-height: 50px;
  min-width: 50px;
  font-size: 1.8em;
  /* margin: auto auto; */
  justify-content: center;
  align-items: center;

}

.nav-user-thumb {
  /* border: solid 1px yellow; */
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-user-thumb > img {
  /* min-width: 50px; */
  /* min-height: 50px; */
  /* height: auto; */
  max-width: 62px;
  min-width: 42px;
  max-height: 62px;
  min-height: 42px;
  width: auto;
  height: auto;
  
  /* min-width: 50px;
  min-height: 50px; */
  /* max-height:42px;
  width: auto; */
  /* height: auto; */
  /* min-height: 42px; */
  /* border-radius: 50%; */
}

.logged-in-footer {
  background-color: #104da1;
  height: 125px;
  width: 100vw;

  padding: 0;
  /* margin-top: 125px; */
  /* whyyyyyyyyy */
  margin-bottom: -125px;
  position: absolute;
  /* bottom: 0; */
  /* margin-top: 150px; */
}

.logged-in-footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 600px;
  font-size: 1.2em;
  color: white;
  align-items: center;
  padding-top: 20px;
}

.logged-in-footer-div > span {
  margin: 0 10px;
  min-height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}