.session-header-left {
  margin-left: 75px;
}

.navigation-header {
  color: lightgrey;
  letter-spacing: 1px;
  font-size: 1.2em;
  
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  /* padding-left: 0; */
  
  margin-top: 0;
  background-color: #104da1;
  /* border: solid 1px yellow; */
  border-bottom: solid 2px #76a8e2;
}

.nav-left {
  width: 250px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-left * {
  font-size: 20px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
}

.nav-left > a {
  display: inline-block;
  min-width: 170px;
  /* padding: 0 10px; */
  padding-left: -20px;
}

.nav-left > a:hover {
  color:white;
}

.nav-right > button:hover {
  color: white;
}

.nav-right > span:hover {
  color: white;
}

.nav-left img {
  width: 90px;
  height: 30px;
}

.nav-right {
  width: 400px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between; 
  align-items: center;
}

.nav-right > button {
  font-size: 20px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
}

.nav-right-icon {
  display: flex;
  min-height: 50px;
  min-width: 50px;
  font-size: 1.8em;
  /* margin: auto auto; */
  justify-content: center;
  align-items: center;

}

.nav-user-img > img {
  width: auto;
  height: auto;
  min-height: 42px;
  min-width: 42px;
  max-height:42px;
  border-radius: 50%;
}