.profile-header {
  width: 100%;
  max-height: 200px;
  /* max-height: 200px; */
  background-color: #104da1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 35px;
  border-bottom: solid 1px #76a8e2;
}

.profile-header * {
  background-color: #104da1;
  color: #f5f8fb;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
}
.profile-header-spacer {
  min-height: 50px;
}

.profile-header-inner {
  /* border: solid 1px white; */
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  /* padding-bottom: 35px; */
}

.profile-header-left {
  /* border: solid 1px green;
  background-color: green; */
  min-width: 555px;
  height: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  /* position: relative;  */
  /* float: left; */
}

.profile-picture-thumb {
  border: solid 1px #76a8e2;
  max-height: 180px;
  min-width: 180px;
  max-width: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 20px -65px;
  /* position: absolute;
  top: -40px;
  left: -185px; */
  /* cursor: pointer; */

}

.profile-info-div {
  /* border: solid 1px yellow; */
  width: auto;
  /* padding-left: 25px; */
  max-height: 107px;
  /* white-space: nowrap; */
}

.profile-info-div > h1 {
  /* border: dashed 1px red; */
  width: 100%;
  font-size: 35px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
}

.profile-age-location-match {
  /* padding-top: 5px; */
}

.profile-age-location-match > p {
  display: inline-block;
  font-size: 20px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
}

.profile-age-location-match > span {
  font-size: 20px;
  /* letter-spacing: 1px; */
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
  padding: 0 10px;
}

.profile-header-right {
  /* border: solid 1px pink; */
  height: auto;
}

.heart-message-buttons {
  /* border: solid 1px purple; */
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.heart-message-buttons > button {
  border: solid 1px #f5f8fb;
  display: flex;
  flex-direction: row;
  
  min-width: 150px;
  min-height: 46px;
  font-size: 20px;
  /* letter-spacing: 1px; */
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: #f5f8fb;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

.heart-message-buttons > button * {
  padding: 0 5px;
}

.heart-message-buttons > button:hover {
  color: pink;
  border: solid 1px white;
}

.profile-content {
  /* border: solid 1px red; */
  height: auto;
  width: 1000px;
  margin: 40px auto 0;
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-content-2-3 {
  /* border: solid 1px blue; */
  /* background-color: white; */
  /* box-sizing: border-box; */
  height: auto;
  width: 60%;
  /* padding-right: 50px;  */
}

.profile-content-1-3 {
  border: solid 1px green;
  height: auto;
  width: 35%;

}

.profile-text-card {
  background-color: white;
  border-radius: 4px;
  min-height: 165px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  font-size: 18px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: black;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
}

.profile-text-card > h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.null-info {
  font-size: 18px;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  font-style: italic;
  color: #aaacae;
}

.profile-stats {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.profile-details {
  border: solid 1px red;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.profile-details * {
  min-height: 52px;
  font-size: 18px; 
}

.details-text {
  width: 90%;
  padding-right: 10px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100px;
  font-family: 'GT America','IBM Plex Sans',Helvetica,Helvitca Neue;
  color: black;
}

.details-icon {
  width: 22px;
  height: 22px;
  margin: auto 0;
  display: flex;
  justify-content: flex-start;

}

.details-icon > img {
  display: block;
  /* border: solid 1px green; */
  max-width: 22px;
  max-height: 22px;
  
}