.usercard-row {
  height: 332;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  background: transparent;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 30px;
}

.usercard-row::-webkit-scrollbar {
  height: 10px;
}

.usercard-row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray; 
  border-radius: 10px;
}

.usercard-row::-webkit-scrollbar-thumb {
  background: #3260c7;
  border: solid 1px #3260c7;
  border-radius: 10px;
  opacity: 0.5;
}

.usercard-row::-webkit-scrollbar-thumb:hover {
  background: #104da1;
  border: solid 1px #104da1;
  border-radius: 10px;
}

.usercard-div {
  /* border: solid 1px orange; */
  background-color:#ffffff;
  min-width: 180px;
  min-height: 276px;
  margin: 0 10px;
  box-shadow: 2px 5px 8px #888888;
  border: solid 1px lightgray;
  border-radius: 4px;
  position: relative;
  top: 0px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;

}

.usercard-div:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: 5px 10px 10px #3260c7;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.usercard-div:hover .usercard-thumb > img {
  transform: scale(1.2);
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
}

.usercard-div .usercard-thumb > img {
  transform: scale(1);
  transition-duration: 0.5s;
  -webkit-transform: scale(1);
  -webkit-transition-duration: 0.5s;
}


.usercard-thumb {
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.usercard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
}

.usercard-info {
  /* border: dashed 1px black; */
  display: inline-block;
  width: auto;
  height: 22px;
  margin: 14px auto ;
  font-weight: bold;
  font-size: larger;
}

.usercard-location {
  /* border: dotted 0.5px blue; */
  width: auto;
  height: 17px;
  font-size: small;
  margin: 0 auto 14px;
}

.usercard-match-percentage {
  height: 26px;
  min-width: 41px;
  line-height: 12px;
  text-align: center;
  justify-content: center;
  /* padding: 6px; */
  font-size: 14px;
  border: solid 1px #3260c7;
  color: #3260c7;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 14px;
}

.usercard-match-percentage-good {
 height: 26px;
  min-width: 41px;
  line-height: 12px;
  text-align: center;
  justify-content: center;
  /* padding: 6px; */
  font-size: 14px;
  color: white;
  border: solid 1px #00d280;
  background-color: #00d280;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 14px;
}

.usercard-match-percentage-bad {
   height: 26px;
  min-width: 41px;
  line-height: 12px;
  text-align: center;
  justify-content: center;
  /* padding: 6px; */
  font-size: 14px;
  color: white;
  border: solid 1px red;
  background-color: red;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 14px;
}